table {
  border-collapse: separate;
  width: 100%;
  border: 2px solid rgb(229, 177, 58);
}

th,
td {
  padding: 8px 16px;
  border: 1px solid rgb(229, 177, 58);
}

tbody {
  margin: auto;
}

.center {
  margin: auto;
  text-align: center;
}
.tableFixHead {
  overflow-y: auto;
  height: 20em;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  border: 1px solid rgb(229, 177, 58);
  font-size: 1.3em;
  background: black;
}
